.header {
    width: 100%;
    height: 2.2vw;
    left: -204px;
    gap: 0px;
    opacity: 0px;
    background: rgba(131, 157, 154, 1);
}

ul {
    list-style-type: none;
    margin-left: 17.2916%;
    display: flex;
    gap: 2.041%;
}

.text-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75vw;
    font-weight: 500;
    line-height: 17.07px;
    text-decoration: none;
    color: rgba(95, 95, 95, 1);
}

.logo {
    width: 5.83%;
    height: 3.77%;
    top: 53px;
    left: 9.375%;
    gap: 0px;
    opacity: 0px;
    display: flex;
    position: absolute;
}

.search-box input {
    width: 100%;
    padding: 10px 90px 10px 45px;
    border: 1px solid #ffffff;
    border-radius: 30px;
    font-size: 0.75vw;
    font-family: 'Montserrat', sans-serif;
  }
  
.search-box {
    width: 59.197%;
    height: 13.62%; 
    margin-top: 2%;
    margin-Left: 16.875%;
    gap: 10px; 
    opacity: 0px; 
    border-radius: 30px;
}

.search-box .icon {
    position: relative;
    display: flex;
    top: 1.5vw;
    left: 15px;
    width: 0.9vw;
    height: 0.9vw;
}

.scrolling-text-container {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: -1.5%;
    white-space: nowrap;
    box-sizing: border-box;
}
  
.scrolling-text {
    display: inline-block;
    animation: scroll-left 10s linear infinite;
    font-size: 1.1vw;
    color: white;
    word-spacing: 2vw;
    font-family: 'Montserrat', sans-serif;
}
  
  
@keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
}